<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Items</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DietY</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="inactive"><a href="/home">Home</a></li>
        <li class="inactive"><a href="/userHistory">Order history</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span id="username" class="glyphicon glyphicon-user"></span></a></li>
        <li><a id="btnLogout" href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  <div id="wrapper" style="padding:10px;">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody id="tablePastOrders">
    </tbody>
  </table>
</div>
<script>
$( document ).ready(function() {
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
  }
  $.ajax({
			url: '/order-history',
			data: "username="+getCookie("email") ,
			type: 'POST',
			success: function(data){
				var array = JSON.parse(data);
				fillTable(array);
			},
			error: function(error){
				// alert("Error!");
			}
	});
  function fillTable(Items){
  var i;
  console.log(Items);
  console.log(Items.length);
  for(i=0;i< Items.length;++i){
    var table = document.getElementById("tablePastOrders");

    // Create an empty <tr> element and add it to the 1st position of the table:
    var row = table.insertRow(0);

    // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);

    // Add some text to the new cells:
    cell1.innerHTML = Items[i][0];
    cell2.innerHTML = Items[i][1];
    cell3.innerHTML = Items[i][2];
    cell4.innerHTML = Items[i][3];
  }
  }
});
</script>
</body>
