<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
	.w3-center {
    	text-align: center!important;
    	padding: 10px;
	}
	.w3-card-4, .w3-hover-shadow:hover {
    	padding: 10px;
	}

</style>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DietY</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="inactive"><a href="/userHistory">Order history</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span id="username" class="glyphicon glyphicon-user"></span></a></li>
      <li><a id="btnLogout" href="../"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Welcome to the the Online Canteen Service !</h2>
  <h6>Select food items from the wide range of options provided by the DietY.</h6>
  <br>
  <br>
  <br>

	<div class = "row">
		<div class="w3-container col-sm-3">
		  <div class="w3-card-4">
		    <img src="../static/images/cbo.jpg" alt="" style="width:100%">
		    <div class="w3-container w3-center">
		      <button type="button" class="btn btn-success">CB Crunchy Bite</button>
		    </div>
		  </div>
		</div>

		<div class="w3-container col-sm-3">
		  <div class="w3-card-4">
		    <img src="../static/images/lords.jpg" alt="" style="width:100%">
		    <div class="w3-container w3-center">
		      <button type="button" class="btn btn-success">Lords Pure Veg</button>
		    </div>
		  </div>
		</div>

		<div class="w3-container col-sm-3">
		  <div class="w3-card-4">
		    <img src="../static/images/vikas.jpg" alt="" style="width:100%">
		    <div class="w3-container w3-center">
		      <button type="button" class="btn btn-success">Vikas Food Point</button>
		    </div>
		  </div>
		</div>

		<div class="w3-container col-sm-3">
		  <div class="w3-card-4">
		    <img src="../static/images/south.jpg" alt="" style="width:100%">
		    <div class="w3-container w3-center">
		      <button type="button" class="btn btn-success">Chat Chinese South Indian</button>
		    </div>
		  </div>
		</div>
	</div>
</div>
<script  src="/static/js/home.js"></script>
</body>
</html>
